body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 244, 223);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.200);
}


h1{
    color: rgb(82, 39, 8);
    text-align: center;
}

label{
    color: rgb(54, 25, 4);
}

.input{
    margin-bottom: 5%;
    padding: 5px;
}

.botao{
    border: 0;
    padding: 10px 15px;
    font-size: 1.1em;
    background-color: rgb(236, 191, 108);
    color: rgb(82, 39, 8);
}

.botao:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.classeDivPHP{
    text-align: center;
}
